* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(24, 12, 46);
  color: white;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: none;
  border: 1px solid #7a62cf;
  border-radius: 1vw;
  color: #6b54c0;
  float: left;
  font-size: 10vw;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 12vw;
  height: 12vw;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 5vw;
  text-align: center;
  letter-spacing: 1px;
}

.move-button {
  border-radius: 2vw;
  font-size: 15px;
  border: 1px solid #6b54c0;
  padding: 0.6vw 2vw;
  background: #544197;
  color: white;
  letter-spacing: 1px;
}

.move-container {
  padding: 0.5vw;
  color: white;
}

.winning-line {
  color:aqua;
}